
body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color:rgb(212, 201, 253);
  font-family: sans-serif;
  text-align: center;
}


p {
  font-size: 18px;
  background-color: rgb(157,142,255);
  border-style: groove;
  border-radius: 10px;
  padding: 15px;
}

#header {
background-color:rgb(169, 170, 236)
}

#navi {
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  background-color:rgb(84, 87, 238)
}

#verticalnav {
  float: left;
  width: 9%;
  height: inherit;
  font-size: 18px;
  font-weight: bold;
  background-color:rgb(84, 87, 238);
}

#verticalnav ul li {
  list-style-type: none;
  padding: 7%;
  text-align: center;
  height: auto;
}

#sectionnew {
  background-image: linear-gradient(rgb(173,158,255), white);
  width: 91%;
  text-align: center;
}

#section {
  background-image: linear-gradient(rgb(173,158,255), white);
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(225, 0, 255);
}

.figure-element {
  margin: 0;
  padding: 0;
}

ol {
  font-size: 18px;
  text-align: center;
  list-style-position: inside;
}

ul {
  padding: 10px;
  margin-left: 10px;
  list-style: inside;
}

h2 {
  text-shadow: 2px 2px #817878;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
}


#headernew h1 {
  padding-left: 9%;
  background-color:rgb(169, 170, 236)
}

.ulmargin li {
  padding: 10px;
}