body {
  background-color: rgb(182, 178, 245);
  color: white;
  font-family: sans-serif;
}

p {
  font-size: 18px;
  background-color: rgb(157,142,255);
  border-style: groove;
  border-radius: 10px;
  padding: 15px;
}

.link {
  float: left;
  margin: 10px;
  font-size: 20px;
  background-color: rgb(169, 152, 255);
  border: solid 5px white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

.figure-element {
  margin: 0;
  padding: 0;
}

.headerborder {
  border: dotted 2px white;
  margin: 1px;
}

ol {
  font-size: 18px;
}
